appnope==0.1.0
beautifulsoup4==4.6.0
crypto==1.4.1
cycler==0.10.0
decorator==4.0.11
haversine==0.4.5
igraph==0.1.11
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
jsonschema==2.6.0
jupyter-core==4.3.0
libmagic==1.0
matplotlib==2.0.2
Naked==0.1.31
nbformat==4.3.0
networkx==1.11
nltk==3.2.4
numpy==1.21.0
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.4.1
plotly==2.0.8
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pyaml==16.12.2
Pygments==2.2.0
pymongo==3.4.0
pyodbc==4.0.16
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
requests==2.14.2
requests-toolbelt==0.8.0
RestUnlClient==0.1.2
shellescape==3.4.1
simplegeneric==0.8.1
six==1.10.0
Spidy==0.2
termcolor==1.1.0
tqdm==4.14.0
traitlets==4.3.2
twine==1.9.1
urllib3==1.21.1
virtualenv==15.1.0
wcwidth==0.1.7
